<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row offset-2">
    <h1>Your Groups</h1>
  </div>
</div>    


<div class="container-fluid">
  <div class="row offset-2">
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_group_modal">
      New group
    </button>

    <!-- Modal -->
    <div class="modal fade" id="new_group_modal" tabindex="-1" aria-labelledby="new_group_modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new_group_modalLabel">Create a new group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "form", group: @group%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-columns">
        <% @groups.each do |group| %>
            <td><%= render "group_card", group: group %></td>
        <% end %> 
      </div>
    </div>   
  </div>  
</div> 




