<p id="notice"><%= notice %></p>

<h1>Your Groups</h1>
<%= link_to 'New Group', new_group_path %>
<br>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-columns">
        <% @groups.each do |group| %>
            <td><%= render "group_card", group: group %></td>
        <% end %> 
      </div>
    </div>   
  </div>  
</div> 




