<p id="notice"><%= notice %></p>

<h1>Your Groups</h1>

<table>

  <tbody>
    <% @groups.each do |group| %>
      <div class="card-group">
        <td><%= render "group_card", group: group %></td>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
