<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row offset-2">
    <h1>Your Groups</h1>
  </div>
</div>    


<div class="container-fluid">
  <div class="row offset-2">
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_group_modal" data-backdrop="false">
      New group
    </button>

<%= render "new_group_modal" %>
<br>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-columns" id="group_of_cards">
        <% @groups.each do |group| %>
            <td><%= render "group_card", group: group %></td>
        <% end %> 
      </div>
    </div>   
  </div>  
</div> 




