<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Contact your Contacts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Your groups", groups_path, class: "nav-link active" %>
      <%= link_to "Your contacts", contacts_path, class: "nav-link active" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
    </div>
  </div>
</nav>